In [1]:
import pandas as pd
import numpy as np

In [4]:
mpg = pd.read_excel (r'auto_mpg_data.xlsx')

In [4]:
print(mpg.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model_year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin                    carname
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [10]:
#1.A
mpg.sample(n = 20)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,carname
382,34.0,4,108.0,70,2245,16.9,82,3,toyota corolla
66,17.0,8,304.0,150,3672,11.5,72,1,amc ambassador sst
149,24.0,4,120.0,97,2489,15.0,74,3,honda civic
20,25.0,4,110.0,87,2672,17.5,70,2,peugeot 504
291,19.2,8,267.0,125,3605,15.0,79,1,chevrolet malibu classic (sw)
364,26.6,8,350.0,105,3725,19.0,81,1,oldsmobile cutlass ls
186,27.0,4,101.0,83,2202,15.3,76,2,renault 12tl
253,20.5,6,200.0,95,3155,18.2,78,1,chevrolet malibu
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
273,23.9,4,119.0,97,2405,14.9,78,3,datsun 200-sx
279,29.5,4,98.0,68,2135,16.6,78,3,honda accord lx
146,28.0,4,90.0,75,2125,14.5,74,1,dodge colt
324,40.8,4,85.0,65,2110,19.2,80,3,datsun 210
230,15.5,8,350.0,170,4165,11.4,77,1,chevrolet monte carlo landau
268,27.2,4,119.0,97,2300,14.7,78,3,datsun 510
86,14.0,8,304.0,150,3672,11.5,73,1,amc matador
81,28.0,4,97.0,92,2288,17.0,72,3,datsun 510 (sw)
173,24.0,4,119.0,97,2545,17.0,75,3,datsun 710
377,31.0,4,91.0,68,1970,17.6,82,3,mazda glc custom
251,20.2,8,302.0,139,3570,12.8,78,1,mercury monarch ghia

In [5]:
#1.B
c = np.random.choice(np.arange(1,30), size=25, replace=False)
clust = mpg[mpg['acceleration'].isin(c)]
print(clust.to_string())

      mpg  cylinders  displacement horsepower  weight  acceleration  model_year  origin                            carname
0    18.0          8         307.0        130    3504          12.0          70       1          chevrolet chevelle malibu
2    18.0          8         318.0        150    3436          11.0          70       1                 plymouth satellite
3    16.0          8         304.0        150    3433          12.0          70       1                      amc rebel sst
5    15.0          8         429.0        198    4341          10.0          70       1                   ford galaxie 500
6    14.0          8         454.0        220    4354           9.0          70       1                   chevrolet impala
8    14.0          8         455.0        225    4425          10.0          70       1                   pontiac catalina
10   15.0          8         383.0        170    3563          10.0          70       1                dodge challenger se
13   14.0          8         455.0        225    3086          10.0          70       1            buick estate wagon (sw)
17   21.0          6         200.0         85    2587          16.0          70       1                      ford maverick
25   10.0          8         360.0        215    4615          14.0          70       1                          ford f250
31   25.0          4         113.0         95    2228          14.0          71       3                      toyota corona
32   25.0          4          98.0          ?    2046          19.0          71       1                         ford pinto
38   14.0          8         350.0        165    4209          12.0          71       1                   chevrolet impala
43   13.0          8         400.0        170    4746          12.0          71       1           ford country squire (sw)
44   13.0          8         400.0        175    5140          12.0          71       1                pontiac safari (sw)
46   22.0          4         140.0         72    2408          19.0          71       1                chevrolet vega (sw)
49   23.0          4         122.0         86    2220          14.0          71       1                 mercury capri 2000
50   28.0          4         116.0         90    2123          14.0          71       2                          opel 1900
53   31.0          4          71.0         65    1773          19.0          71       3                toyota corolla 1200
54   35.0          4          72.0         69    1613          18.0          71       3                        datsun 1200
55   27.0          4          97.0         60    1834          19.0          71       2               volkswagen model 111
58   25.0          4          97.5         80    2126          17.0          72       1                 dodge colt hardtop
62   13.0          8         350.0        165    4274          12.0          72       1                   chevrolet impala
63   14.0          8         400.0        175    4385          12.0          72       1                   pontiac catalina
67   11.0          8         429.0        208    4633          11.0          72       1                    mercury marquis
73   13.0          8         307.0        130    4098          14.0          72       1   chevrolet chevelle concours (sw)
74   13.0          8         302.0        140    4294          16.0          72       1              ford gran torino (sw)
75   14.0          8         318.0        150    4077          14.0          72       1     plymouth satellite custom (sw)
77   22.0          4         121.0         76    2511          18.0          72       2                volkswagen 411 (sw)
79   26.0          4          96.0         69    2189          18.0          72       2                    renault 12 (sw)
80   22.0          4         122.0         86    2395          16.0          72       1                    ford pinto (sw)
81   28.0          4          97.0         92    2288          17.0          72       3                    datsun 510 (sw)
91   13.0          8         400.0        150    4464          12.0          73       1          chevrolet caprice classic
94   13.0          8         440.0        215    4735          11.0          73       1       chrysler new yorker brougham
95   12.0          8         455.0        225    4951          11.0          73       1           buick electra 225 custom
96   13.0          8         360.0        175    3821          11.0          73       1            amc ambassador brougham
98   16.0          6         250.0        100    3278          18.0          73       1              chevrolet nova custom
99   18.0          6         232.0        100    2945          16.0          73       1                         amc hornet
101  23.0          6         198.0         95    2904          16.0          73       1                    plymouth duster
102  26.0          4          97.0         46    1950          21.0          73       2            volkswagen super beetle
103  11.0          8         400.0        150    4997          14.0          73       1                   chevrolet impala
108  20.0          4          97.0         88    2279          19.0          73       3                      toyota carina
113  21.0          6         155.0        107    2472          14.0          73       1                   mercury capri v6
119  20.0          4         114.0         91    2582          14.0          73       2                         audi 100ls
121  15.0          8         318.0        150    3399          11.0          73       1                  dodge dart custom
122  24.0          4         121.0        110    2660          14.0          73       2                          saab 99le
124  11.0          8         350.0        180    3664          11.0          73       1                   oldsmobile omega
126  21.0          6         200.0          ?    2875          17.0          74       1                      ford maverick
127  19.0          6         232.0        100    2901          16.0          74       1                         amc hornet
128  15.0          6         250.0        100    3336          17.0          74       1                     chevrolet nova
129  31.0          4          79.0         67    1950          19.0          74       3                        datsun b210
131  32.0          4          71.0         65    1836          21.0          74       3                toyota corolla 1200
132  25.0          4         140.0         75    2542          17.0          74       1                     chevrolet vega
133  16.0          6         250.0        100    3781          17.0          74       1  chevrolet chevelle malibu classic
134  16.0          6         258.0        110    3632          18.0          74       1                        amc matador
136  16.0          8         302.0        140    4141          14.0          74       1                   ford gran torino
139  14.0          8         302.0        140    4638          16.0          74       1              ford gran torino (sw)
145  32.0          4          83.0         61    2003          19.0          74       3                         datsun 710
148  26.0          4         116.0         75    2246          14.0          74       2                        fiat 124 tc
151  31.0          4          79.0         67    2000          16.0          74       2                          fiat x1.9
152  19.0          6         225.0         95    3264          16.0          75       1            plymouth valiant custom
153  18.0          6         250.0        105    3459          16.0          75       1                     chevrolet nova
154  15.0          6         250.0         72    3432          21.0          75       1                    mercury monarch
157  15.0          8         350.0        145    4440          14.0          75       1                  chevrolet bel air
160  17.0          6         231.0        110    3907          21.0          75       1                      buick century
162  15.0          6         258.0        110    3730          19.0          75       1                        amc matador
163  18.0          6         225.0         95    3785          19.0          75       1                      plymouth fury
166  13.0          8         302.0        129    3169          12.0          75       1                    ford mustang ii
167  29.0          4          97.0         75    2171          16.0          75       3                     toyota corolla
168  23.0          4         140.0         83    2639          17.0          75       1                         ford pinto
169  20.0          6         232.0        100    2914          16.0          75       1                        amc gremlin
173  24.0          4         119.0         97    2545          17.0          75       3                         datsun 710
175  29.0          4          90.0         70    1937          14.0          75       2                  volkswagen rabbit
176  19.0          6         232.0         90    3211          17.0          75       1                          amc pacer
178  23.0          4         120.0         88    2957          17.0          75       2                        peugeot 504
200  18.0          6         250.0         78    3574          21.0          76       1                  ford granada ghia
204  32.0          4          85.0         70    1990          17.0          76       3                       datsun b-210
213  13.0          8         350.0        145    4055          12.0          76       1                          chevy c10
215  13.0          8         318.0        150    3755          14.0          76       1                         dodge d100
222  17.0          8         260.0        110    4060          19.0          77       1         oldsmobile cutlass supreme
228  18.5          6         250.0         98    3525          19.0          77       1                       ford granada
234  24.5          4         151.0         88    2740          16.0          77       1              pontiac sunbird coupe
237  30.5          4          98.0         63    2051          17.0          77       1                 chevrolet chevette
293  31.9          4          89.0         71    1925          14.0          79       2                   vw rabbit custom
305  28.4          4         151.0         90    2670          16.0          79       1              buick skylark limited
331  33.8          4          97.0         67    2145          18.0          80       3                          subaru dl
337  32.4          4         107.0         72    2290          17.0          80       3                       honda accord
349  34.1          4          91.0         68    1985          16.0          81       3                        mazda glc 4
364  26.6          8         350.0        105    3725          19.0          81       1              oldsmobile cutlass ls
369  34.0          4         112.0         88    2395          18.0          82       1          chevrolet cavalier 2-door
371  29.0          4         135.0         84    2525          16.0          82       1                     dodge aries se
372  27.0          4         151.0         90    2735          18.0          82       1                    pontiac phoenix
387  38.0          6         262.0         85    3015          17.0          82       1  oldsmobile cutlass ciera (diesel)

In [32]:
#1.C
c_2 = np.random.choice(np.arange(1,5), size=2, replace=False)
clust_2 = mpg[mpg['cylinders'].isin(c)]
clust_3 = clust_2[['origin', 'mpg', 'cylinders', 'displacement', 'horsepower']]
print(clust_3)

     origin   mpg  cylinders  displacement horsepower
11        1  14.0          8         340.0        160
9         1  15.0          8         390.0        190
7         1  14.0          8         440.0        215
6         1  14.0          8         454.0        220
116       1  16.0          8         400.0        230
..      ...   ...        ...           ...        ...
300       1  23.9          8         260.0         90
59        2  23.0          4          97.0         54
326       2  43.4          4          90.0         48
394       2  44.0          4          97.0         52
299       2  27.2          4         141.0         71

[398 rows x 5 columns]

In [36]:
#1.D
mpg_ss = mpg.groupby('origin', group_keys=False).apply(lambda x: x.sample(min(len(x), 10)))
mpg_ss_1 = mpg_ss[['origin', 'mpg', 'cylinders', 'displacement', 'horsepower']]
print (mpg_ss_1)

     origin   mpg  cylinders  displacement horsepower
65        1  14.0          8         351.0        153
113       1  21.0          6         155.0        107
258       1  20.6          6         231.0        105
32        1  25.0          4          98.0          ?
176       1  19.0          6         232.0         90
75        1  14.0          8         318.0        150
48        1  18.0          6         250.0         88
160       1  17.0          6         231.0        110
217       1  30.0          4         111.0         80
95        1  12.0          8         455.0        225
76        2  18.0          4         121.0        112
325       2  44.3          4          90.0         48
233       2  29.0          4          97.0         78
180       2  25.0          4         121.0        115
207       2  20.0          4         130.0        102
353       2  33.0          4         105.0         74
141       2  29.0          4          98.0         83
328       2  30.0          4         146.0         67
178       2  23.0          4         120.0         88
276       2  21.6          4         121.0        115
108       3  20.0          4          97.0         88
241       3  22.0          6         146.0         97
337       3  32.4          4         107.0         72
270       3  21.1          4         134.0         95
246       3  32.8          4          78.0         52
383       3  38.0          4          91.0         67
205       3  28.0          4          97.0         75
310       3  38.1          4          89.0         60
312       3  37.2          4          86.0         65
347       3  37.0          4          85.0         65

In [43]:
#2.A
mpg.sort_values(by=['mpg'], ascending = False).head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,carname
322,46.6,4,86.0,65,2110,17.9,80,3,mazda glc
329,44.6,4,91.0,67,1850,13.8,80,3,honda civic 1500 gl
325,44.3,4,90.0,48,2085,21.7,80,2,vw rabbit c (diesel)
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
326,43.4,4,90.0,48,2335,23.7,80,2,vw dasher (diesel)

In [57]:
#2.B
mpg['make'] = mpg.carname.str.split().str.get(0)
mpg['model'] = mpg.carname.str.split().str.get(1)
mpg.rename(columns={'model year':'year'}, inplace = True)
# year = 70, model = 1200d, make = hi
mpg_sm = mpg.sort_values(by=['mpg'], ascending = False).tail(1)
print(mpg_sm[['model_year', 'make', 'model']])

    model_year make  model
28          70   hi  1200d

In [64]:
#2.c
m2c = mpg.agg({'weight': ['mean','min','max'],
              'mpg': ['mean','min','max']})

print(m2c.T)

               mean     min     max
weight  2970.424623  1613.0  5140.0
mpg       23.514573     9.0    46.6

In [80]:
#3
mpg['horsepower'] = pd.to_numeric(mpg['horsepower'],errors='coerce')
mpg

m3a = mpg[['make', 'horsepower']]
m3a = m3a.groupby(['make'],sort=True).mean()
m3a.sort_values(by=['horsepower'], ascending = False)

mpg.groupby(["make"])[["horsepower"]].describe()

#at observation 258 it hits the 50% mark
mpg_cumu = mpg.sort_values(by=['horsepower'], ascending = True)
mpg_cumu['hp_pct'] = mpg_cumu['horsepower']/mpg_cumu['horsepower'].sum()
mpg_cumu['hp_cum'] = mpg_cumu['horsepower'].cumsum(axis = 0)
mpg_cumu['hp_cum_pct'] = mpg_cumu['hp_cum']/mpg_cumu['horsepower'].sum()
mpg_cumu_f = mpg_cumu[['horsepower', 'hp_cum', 'hp_pct', 'hp_cum_pct']]
#print(mpg_cumu_f.to_string()) -- way to see whole data frame
new_cumu_f = mpg_cumu_f.loc[mpg_cumu_f['hp_cum_pct'] > .5]
new_cumu_f

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,carname,make,model
11,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340,plymouth,'cuda
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl,amc,ambassador
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii,plymouth,fury
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala,chevrolet,impala
116,16.0,8,400.0,230.0,4278,9.5,73,1,pontiac grand prix,pontiac,grand
...,...,...,...,...,...,...,...,...,...,...,...
300,23.9,8,260.0,90.0,3420,22.2,79,1,oldsmobile cutlass salon brougham,oldsmobile,cutlass
59,23.0,4,97.0,54.0,2254,23.5,72,2,volkswagen type 3,volkswagen,type
326,43.4,4,90.0,48.0,2335,23.7,80,2,vw dasher (diesel),vw,dasher
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,vw,pickup
299,27.2,4,141.0,71.0,3190,24.8,79,2,peugeot 504,peugeot,504

In [140]:
#Q5
m = np.array ([[10,20,30], [40,50,60], [70, 71,72]])

a1 = pd.DataFrame(m, columns=['CO1', 'CO2', 'CO3'])
a1.rename(index={0: "RO1", 1: "RO2", 2: "RO3"})

a1['t_day'] = pd.to_datetime('today')

a1['Today_Year'] = a1['t_day'].dt.year
a1['Today_Month'] = a1['t_day'].dt.month
a1['Today_week'] = a1['t_day'].dt.week
a1['Today_day'] = a1['t_day'].dt.day
wd={0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}
a1['Day_of_week_name']=a1['t_day'].dt.weekday.map(wd)
a1['Today_hour'] = a1['t_day'].dt.hour
a1['Today_minute'] = a1['t_day'].dt.minute

     CO1  CO2  CO3
RO1   10   20   30
RO2   40   50   60
RO3   70   71   72

In [147]:
#Q6
b = np.array([[10,20,30, 40], [50, 60, 70, 80], [90,100,110,120], [130,140,150,190]])

b[:3, :2]

b[1, :]

b[:,[0,2]]

b[[2,3],1:4]

array([[ 10,  20,  30,  40],
       [ 50,  60,  70,  80],
       [ 90, 100, 110, 120],
       [130, 140, 150, 190]])

In [171]:
b[[2,3],1:4]

array([[100, 110, 120],
       [140, 150, 190]])